body{
	margin: 0;
}
table, th, td {
  border: 1px solid black;
  align-content: center;
  padding: 5px 5px 5px 5px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
th,td{
	background-color: blue;
	color: white;
	text-align: center;
	padding: 5px 50px 5px 50px;
}
.center{
	display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.buton{
	background-color: green;
    border:none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
button{
	margin: 0px 10px;
}
html{
	background-image: url('beach.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.zone {
    padding-bottom: 0px;
    cursor:pointer;
    color:red;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.1s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li > a {
    color: #f5f5f6;
    text-decoration: none;
}

li {
    padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}